*.o
*.lo
*.deps
*.dirstamp
*.libs
*.fortran_dependencies
modules/
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.guess~
config.h.in
config.h.in~
config.sub
config.sub~
configure
configure~
depcomp
install-sh
install-sh~
ltmain.sh
missing
test-driver
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*/m4/libtool.m4
*/m4/ltoptions.m4
*/m4/ltsugar.m4
*/m4/ltversion.m4
*/m4/lt~obsolete.m4
test_programs.am
build*
py-compile
workspace.code-workspace
